{% load static %}
<!DOCTYPE html>
<html lang="ru">
<script>
    (function(){
        var t = localStorage.getItem("theme") || "light";
        document.documentElement.setAttribute("data-theme", t);
    })();
</script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Nexa{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/layout/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/toast.css' %}">
    
    {% block extra_css %}{% endblock %}
    
    <script src="{% static 'js/theme.js' %}" defer></script>
</head>

<body>
    {% include "components/header.html" %}
    
    <main class="main">
        {% block content %}{% endblock %}
    </main>
    
    {% include "components/footer.html" %}

    <div id="toast-container" class="toast-container"></div>

    <script src="{% static 'js/notifications.js' %}" defer></script>
    <script src="{% static 'js/cart.js' %}" defer></script>
</body>

</html>