{% load static %}
<footer class="footer">
    <div class="footer-container">
        <div class="footer-left">
            <p>&copy; 2026 Nexa. Все права защищены.</p>
        </div>
        <div class="footer-center">
            <p>Телефон: +7 (999) 123-45-67</p>
            <p>Email: info@nexa.com</p>
            <p>Адрес: г. Москва, ул. Примерная, 10</p>
        </div>
        <div class="footer-right">
            <a href="https://github.com/Brain4ess/Nexa" class="social-link">
                <img src="{% static 'images/social_icons/github_icon.png' %}" alt="Github">
            </a>
            <a href="#" class="social-link">
                <img src="{% static 'images/social_icons/telegram_icon.png' %}" alt="Telegram">
            </a>
            <a href="#" class="social-link">
                <img src="{% static 'images/social_icons/vk_icon.png' %}" alt="VK">
            </a>
        </div>
    </div>
</footer>
