{% extends "base.html" %}
{% load static %}

{% block title %}Категории — Nexa{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/categories.css' %}">
{% endblock %}

{% block content %}
<div class="container">

    <section class="section">
        <h1 class="title">Категории</h1>

        <div class="categories-search">
            <div class="categories-search-box">
                <img src="{% static 'images/search_icon.png' %}" class="search-icon" alt="search">
                <input type="text" id="categorySearch" placeholder="Поиск категории..." autocomplete="off">
            </div>

            <div id="searchResults" class="search-results"></div>
        </div>

        {% if categories %}
        <div class="categories-grid" id="categoriesGrid">
            {% for category in categories %}
            <a href="/catalog/{{ category.slug }}/" class="category-card"
               data-name="{{ category.name|lower }}">

                <p>{{ category.name }}</p>

                <img src="{% if category.image %}{{ category.image.url }}{% else %}{% static 'images/placeholder.png' %}{% endif %}"
                    alt="{{ category.name }}" class="{% if not category.image %}placeholder{% endif %}"
                    onerror="this.onerror=null; this.src='{% static 'images/placeholder.png' %}'; this.classList.add('placeholder');">

            </a>
            {% endfor %}
        </div>
        {% else %}
        <p class="empty">Нет доступных категорий.</p>
        {% endif %}

    </section>

</div>

<script>
const input = document.getElementById("categorySearch");
const cards = document.querySelectorAll(".category-card");
const resultsBox = document.getElementById("searchResults");
const categoryNames = Array.from(cards).map(card => card.dataset.name);

input.addEventListener("input", function() {
    const value = input.value.toLowerCase().trim();
    resultsBox.innerHTML = "";
    if (value === "") return;
    let found = 0;
    categoryNames.forEach(name => {
        if (name.includes(value)) {
            const result = document.createElement("div");
            result.classList.add("search-result-item");
            result.textContent = name;
            const card = Array.from(cards).find(c => c.dataset.name === name);
            if (card) result.onclick = () => card.click();
            resultsBox.appendChild(result);
            found++;
        }
    });
    if (found === 0) {
        resultsBox.innerHTML = '<div class="search-result-item empty">Ничего не найдено</div>';
    }
});
</script>
{% endblock %}