{% extends "base.html" %}
{% load static %}

{% block title %}Nexa — Главная{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <section class="hero">
        <h1 class="title">Добро пожаловать в Nexa</h1>
        <p class="subtitle">
            Лучшие комплектующие для вашего ПК — видеокарты, процессоры, материнские платы и память.
        </p>
    </section>

    <section class="section">
        <h3>Популярные категории</h3>
        <div class="cards">
            <a href="/catalog/videokarty/" class="card">
                <p>Видеокарты</p>
                <img src="{% static 'images/categories/videocards_category.png' %}" alt="">
            </a>

            <a href="/catalog/processory/" class="card">
                <p>Процессоры</p>
                <img src="{% static 'images/categories/cpus_category.png' %}" alt="">
            </a>

            <a href="/catalog/materinskie-platy/" class="card">
                <p>Материнские платы</p>
                <img src="{% static 'images/categories/motherboards_category.png' %}" alt="">
            </a>

            <a href="/catalog/operativnaya-pamyat/" class="card">
                <p>Оперативная память</p>
                <img src="{% static 'images/categories/ram_category.png' %}" alt="">
            </a>
        </div>
    </section>
</div>
{% endblock %}
