{% extends "base.html" %}
{% load static %}

{% block title %}Вход — Nexa{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="auth-page">
    <form method="post" class="auth-container">
        {% csrf_token %}

        <h2>Вход</h2>

        <input type="text" name="username" placeholder="Имя пользователя" required>
        <input type="password" name="password" placeholder="Пароль" required>

        {% if messages %}
        {% for message in messages %}
        <div class="form-error">{{ message }}</div>
        {% endfor %}
        {% endif %}

        <button type="submit" class="cta">Войти</button>

        <div class="auth-footer">
            Нет аккаунта?
            <a href="{% url 'register' %}">Регистрация</a>
        </div>
    </form>
</div>
{% endblock %}