{% extends "base.html" %}
{% load static %}

{% block title %}Вход — Nexa{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pages/auth.css' %}">
{% endblock %}

{% block content %}
<div class="auth-page">
    <form method="post" class="auth-container">
        {% csrf_token %}

        <h2>Вход</h2>

        <input
        type="text"
        name="identifier"
        placeholder="Email или имя пользователя"
        value="{{ identifier|default:'' }}"
        maxlength="128"
        autocomplete="username"
        required
        >
        
        <input
        type="password"
        name="password"
        placeholder="Пароль"
        maxlength="128"
        autocomplete="current-password"
        required
        >
        
        {% if error %}
            <div class="form-error">{{ error }}</div>
        {% endif %}

        <button type="submit" class="cta">Войти</button>
        
        <div class="auth-footer">
            Нет аккаунта?
            <a href="{% url 'register' %}">Регистрация</a>
        </div>
    </form>
</div>
{% endblock %}